<div class="content">
    <div class="task-manager">
        <div class="side-bar">
            <h1 class="title">Lists</h1>
            <div class="list-menu">
                <a class="list-menu-item is-active">
                    <p>List #1</p>
                </a>
                <a class="list-menu-item">
                    <p>List #1</p>
                </a>
                <a class="list-menu-item">
                    <p>List #1</p>
                </a>
            </div>

            <button class="button">+New List</button>

        </div>
    
        <div class="task-list">
            <h1 class="title">Tasks <button (click)="nuevoItem()">nuevo item</button></h1>

            <div class="task" *ngFor="let item of listaItems">
                <p>{{item.name}} {{item.descripcion}} {{item.edad}} <button (click)="eliminar(item._id)">eliminar</button></p>
            </div>

            <!-- <div class="task">
                <p>This is some example of task</p>
            </div>

            <div class="task">
                <p>This is some example of task</p>
            </div>

            <div class="task">
                <p>This is some example of task</p>
            </div>

            <div class="task complete">
                <p>This is some example of task</p>
            </div> -->
        </div>
    </div>
</div>
